@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Adarsh Singh</p>
    <p>My Theme Name is My Indoor Games.</p>
    <p>Games are important in day to day life. Not only outdoor but also indoor games. Moreover, I choosed this theme because mental exercise is necessary for brain to get refresh from the other activites and indoor games are best to refresh the mind.</p>
    <p>My Github link <a href="https://github.com/Parisbajwa26/WEB315_ASPDOTNET_Assignments_F22.git">GitHub</a><p>

</div>
